torch==2.6.0+cu124
transformers==4.57.1
vllm==0.8.5
accelerate==1.11.0
datasets==3.6.0
safetensors==0.5.3
sentencepiece==0.2.0
tokenizers
peft==0.15.2
trl==0.17.0
xformers==0.0.29.post2
flash_attn==2.7.4.post1
torchaudio
torchvision==0.21.0
pillow==11.3.0
fastapi==0.116.1
uvicorn==0.35.0
requests==2.32.5
aiohttp==3.12.15
numpy
pandas==2.2.3
scipy==1.16.1
pyarrow==20.0.0
matplotlib==3.10.3
ray==2.48.0
openai==1.98.0
tqdm==4.67.1
wandb==0.21.0
tensordict
omegaconf
torchdata
codetiming
uiautomator2
xmltodict
Levenshtein
ui_tars
qwen_vl_utils
hydra-core
tensorboard
debugpy
# uninstall uvloop